* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font,SourceHanSans;
  /* font-weight: bold; */
  /* 900-Black(heavy) */
  font-weight: 900;
  font-size: 16px;
  font-feature-settings: "zero,cv07,cv11,cv18";
  min-height: 0;
}

/* #custom-backlightex, */
/* #window, */
/* #pulseaudio, */
#workspaces,
#mpd,
#clock,
#tray,
#custom-updates,
#cpu,
#memory,
#network,
#bluetooth,
#backlight,
#wireplumber,
#battery {
  background: #11111b;
  color: #b4befe;
  padding: 2px 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 15px;
}


window#waybar {
  background: transparent;
  color: transparent;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 10px;
}

#workspaces button {
  background-color: #11111b;
  padding-right: 15px;
  padding-left: 10px;
  margin: 0 6px 0 0;
  border-radius: 15px;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
  /* box-shadow: rgba(0,0,0,0.2) 2 2 5 2px; */
}

#workspaces button.active {
  background: #87cefa;
  /* background: rgb(203,166,247); */
  /* background: radial-gradient(circle, #384D98 0%, #50d0d0 25%, #be1e3e 50%, #7967c3 75%, #ffc639 100%);  */
  /* background-size: 400% 400%; */
  /* animation: gradient_f 20s ease-in-out infinite; */
}

#workspaces button.urgent {
  background: #dc143c;
}

#workspaces button.special {
  background: #ffb6c1;
}

#workspaces button:hover {
  background: #98fb98;
  /* border-radius: 10px; */
}

/* #window { */
/*   padding-right: 15px; */
/*   border-radius: 0 5px 5px 0; */
/* } */

#mpd {
  color: #87cefa;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
}
#mpd.playing {
  background: #87cefa;
  color: #2f4f4f;
}
#mpd.paused {
  background: #2f4f4f;
  color: #87cefa;
}

/* window#waybar.kitty { */
/*   background-color: #111111; */
/* } */

#clock {
  color: #6495ed;
}

#tray {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
}

#custom-updates {
  border-radius: 15px 0 0 15px;
}

#cpu {
  border-radius: 0;
}

#memory {
  border-radius: 0;
}

#network {
  border-radius: 0 15px 15px 0;
  padding-right: 15px;
  margin-right: 10px;
  color: #ff4500;
}
#network.linked,
#network.ethernet,
#network.wifi {
  color: #87cefa;
}

#bluetooth {
  border-radius: 15px 0 0 15px;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
}
#bluetooth.on,
#bluetooth.connected {
  color: #87cefa;
}

#backlight {
  border-radius: 0;
  color: #fafad2;
}

#wireplumber {
  border-radius: 0 15px 15px 0;
  color: #dda0dd;
  margin-right: 10px;
}

#wireplumber.muted {
  color: #b4befe;
}

/* #pulseaudio { */
/* color: #89b4fa; */
/* } */
/**/
/* #pulseaudio.microphone { */
/* color: #cba6f7; */
/* } */

#battery {
  margin-right: 15px;
  border-radius: 15px;
}
#battery.good {
  color: #7cfc00;
}
#battery.normal {
  color: #b4befe;
}
#battery.half {
  color: #eee8aa;
}
#battery.warning {
  color: #fa8072;
}
#battery.critical {
  color: #dc143c;
}
#battery.full {
  background: #7cfc00;
  color: #11111b;
}
#battery.discharging {
  background: #f08080;
}
#battery.charging {
  background: #00BFFF;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 30%;
}
100% {
  background-position: 0% 50%;
}
}

@keyframes gradient_f {
0% {
  background-position: 0% 200%;
}
50% {
  background-position: 200% 0%;
}
100% {
  background-position: 400% 200%;
}
}

@keyframes gradient_f_nh {
0% {
  background-position: 0% 200%;
}
100% {
  background-position: 200% 200%;
}
}
